* {
  box-sizing:border-box;
}

body {
  background-color: #011339; /*Changes web page color*/
}

nav > img { /* Aligns logo to top left of page */
  vertical-align: middle;
  height: 50px;
  margin-left: 6%;
  margin-top: 1%;
  padding-right: 10px;
}

.home, .about, .contact { 
  text-decoration: none;
  color: #B8B6E2;
  
}


header { /* Centers header and creates space between lines */
  text-align:center;
  margin: auto;
  line-height: 0.4;

}

h1 { 
  font-weight: 900;
  font-size: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Allows alternate text if some are unavailable */
  color: #B8B6E2;
  
  letter-spacing: 2px;
}

.intro { /* Styles text of "intro" class*/
  color: #04F1C2;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;

  padding-top: 10%;
}

.sub { 
  color: #04F1C2;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;

  padding-bottom: 10px;
}

.description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #C2C0E6;

  margin: auto;
  width: 400px;
  line-height: 1.5;
  padding-bottom: 100px;
}

hr { /* Designs horizontal rule */
  margin-left: 10%;
  margin-right: 10%;
  background-color: #04F1C2;
  height: 1px;
  border: solid #04F1C2 1px;
}

h2 {
  color: #B8B6E2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-bottom:10px;
  padding-top: 100px;
}

.about-pic { /* Resizes picture and gives colored border */
  width: 20%;
  border: solid #B8B6E2 5px;
  display: block;
  margin: auto;

}

.paragraph, .activities {
  width:420px;
  color:#C2C0E6;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 20px;
}

.activities {
  padding-bottom: 100px;
  line-height: 1.3;
}

.port {
  margin: auto;
  width: 400px;
  padding-bottom: 100px;
  color: #A2FEEB;
}

/*Pseudo-classes to style links*/
li > a:link     {color: #04F1C2}
li > a:visited  {color: #A2FEEB}
li > a:hover    {color: #C2C0E6}
li > a:active   {color: #1D1C22}

footer {
  color: #B8B6E2;
  text-align: center;
  font-size: 12px;

}